{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>
    <script src="../static/jQuery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="../static/datatables.min.js"></script>
    <script src="../static/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="../static/DataTables-1.10.23/js/dataTables.bootstrap.min.js"></script>
    <script src="../static/DataTables-1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="../static/DataTables-1.10.23/js/dataTables.foundation.min.js"></script>
    <script src="../static/DataTables-1.10.23/js/dataTables.jqueryui.min.js"></script>
    <script src="../static/DataTables-1.10.23/js/dataTables.semanticui.min.js"></script>
    <script src="../static/DataTables-1.10.23/js/dataTables.semanticui.min.js"></script>
    <script src="../static/RowReorder-1.2.7/js/dataTables.rowReorder.min.js"></script>
    <script src="../static/encoding.min.js"></script>
    

    {%- block metas %}
    <meta name="google-site-verification" content="oMlUSBEUXbdAg4feS_Egbx-UXQpGxrjNk2vGgi1mW_Q" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" 
      content="宅配システムの新常識、LatteCloud ラテクラウド。シンプル、速い、インストール不要。牛乳宅配店向け、完全無料の請求管理システム。"
    {%- endblock metas %}

    {%- block styles %}
    <link rel="stylesheet" href="../static/Bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/DataTables-1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../static/DataTables-1.10.23/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../static/DataTables-1.10.23/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../static/DataTables-1.10.23/css/dataTables.foundation.min.css">
    <link rel="stylesheet" href="../static/DataTables-1.10.23/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="../static/DataTables-1.10.23/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" href="../static/datatables.min.css">
    <link rel="stylesheet" href="../static/main/css/main.css">
    <link rel="stylesheet" href="../static/RowReorder-1.2.7/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" href="../static/RowReorder-1.2.7/css/rowReorder.bootstrap.min.css">
    <link rel="stylesheet" href="../static/balloon/balloon.min.css">
  
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
      {% block navbar %}
      {%- endblock navbar %}
      {% block content -%}
      {%- endblock content %}
      {% block scripts %}
      {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
