{% extends 'common.html' %}
 
{% block title %}LocHub ロクハブ{% endblock %}

{% block content %}
  %div.container-fluid(style="background-image:url('../static/image/xxxxx.png'); background-size:cover; background-repeat:no-repeat")

    %div.row
      %div.col-md-12
        %img.img-responsive(src="../static/image/logo_small.png" style="float:left")
        %div(style="float:left")
          &nbsp;&nbsp;&nbsp;&nbsp;
        %h5(style="padding:10px 0px 0px 0px; margin:0px 0px 0px 0px;")
          行政システムに革命を。 &nbsp;&nbsp;© HaYu, 2021
        %div(style="float:left")
          &nbsp;&nbsp;&nbsp;&nbsp;
        %h1(style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; font-size:62px; font-weight:bold;float:left; top:-50px")
          LocHub
        %div(style="float:left")
          &nbsp;&nbsp;&nbsp;&nbsp;
        %h4(style="float:left")
          日本の地方公共団体（<span style="font-weight:bold">Local</span>Goverment）で利用されている情報システム<br>の評価をデータ化し、集約（<span style="font-weight:bold">Hub</span>）するサービス、<span style="font-weight:bold">ロクハブ</span>へようこそ。
        %div(style="float:left")
          &nbsp;&nbsp;&nbsp;&nbsp;
        %a.btn.btn-warning.btn-lg(type="button" data-toggle="modal" data-target="#modalQuestion" style="float:left")
          アンケートに回答する
        %div(style="float:left")
          &nbsp;&nbsp;&nbsp;&nbsp;
        %a(data-toggle="modal" data-target="#modalAboutUs" href="")
          LocHubって何？

    %hr(style="margin:10px 0px 10px 0px;border-top:0.5px solid #d3d3d3;")

    %div.row
      %div.col-md-3(style="border-right:0.5px solid #d3d3d3;")
        %div.row
          %div.col-md-12
            %span.komidashi
              企業名を選択してください。
        %div.row
          %div.col-md-12
            %table.table-bordered.row.hover#tableToko
              %thead
                %tr
                  %th 
                    企業名
                  %th
                    回答数
                  %th
                    満足度<br>(5段階)
              %tbody

      %div.col-md-4(style="border-right:0.5px solid #d3d3d3;")
        %div.row
          %div.col-md-4
            %span.komidashi
              評価レーダー
          %div.col-md-4
            %div.dropdown#selVendorNmHikaku
              %a.btn.btn-default(href="#" data-toggle="dropdown" role="button" aria-expanded="false")
                他社と比較する
                %span.caret
              %ul.dropdown-menu(role="menu")
          %div.col-md-4
            %a.btn.btn-warning.btn-sm#btnNanajikuQuestion(type="button" data-toggle="modal" data-target="#modalNanajikuHyoka")
              あなたの評価も下さい
        %div.row
          %div.col-md-12
            %canvas#myChart(width="100px" height="60px")

      %div.col-md-5(style="border-right:0.5px solid #d3d3d3;")
        %div.row
          %div.col-md-7
            %span.komidashi
              得意分野マップ&nbsp;
              &nbsp;（ランク：D  <  C  <  B  <  A  <  S ）&nbsp;
          %div.col-md-5
            %a.btn.btn-warning.btn-sm#btnTokuiBunyaQuestion(type="button" data-toggle="modal" data-target="#modalTokuiBunya")
              あなたの評価も下さい
        %div.row
          &nbsp;
        %div.row
          %div.col-md-12
            %table#tableBunyaMap
        %div.row
          &nbsp;
        %div.row
          %div.col-md-12
            %span.komidashi
              団体種類別 構築回数
        %div.row
          &nbsp;
        %div.row
          %div.col-md-11
            %canvas#barChartKibo(width="100px" height="20px")
          %div.col-md-11
            &nbsp;

    %hr(style="margin:10px 0px 10px 0px;border-top:0.5px solid #d3d3d3;")

    %div.row
      %div.col-md-4(style="border-right:0.5px solid #d3d3d3;")
        %div.row
          %div.col-md-12
            %span.komidashi
              エリアマップ
        %div.row
          %div.col-md-12
            %table.jp-map#tblAreaMap
              %tbody

      %div.col-md-4(style="border-right:0.5px solid #d3d3d3;")
        %div.row
          %div.col-md-12
            aaa
      %div.col-md-4(style="border-right:0.5px solid #d3d3d3;")
        %div.row
          %div.col-md-12
            bvb

    %div.row
      &nbsp;
    %div.row
      &nbsp;
    %div.row
      &nbsp;
    %div.row
      &nbsp;
    %div.row
      %div.col-md-10
      %div.col-md-2.text-right
        %a(data-toggle="modal" data-target="#modalSakujoIrai" href="")
          削除依頼はこちら

      
    <!-- 基本アンケート -->
    %div.modal.fade#modalQuestion(tabindex="-1")
      %div.modal-dialog.modal-lg
        %div.modal-content
          %div.modal-header
            %button.close(type="button" data-dismiss="modal")
              %span
                ×
            %h4.modal-title#subFtitle
              地方自治体の職員である あなたに質問です。<br>
              あなたが職場で利用しているシステムのことを教えてください。
          %div.modal-body
            %div.row
              %div.col-md-10
                %div.row
                  %div.col-md-12
                    %div.input-group
                      %span.input-group-addon.custom_msize
                        開発した会社は？
                      %input#txtVendorNm.form-control.custom_msize (type="text" class="form-control" placeholder="日本東京システムズ")
                      
                      %span.input-group-btn.btn-warning#selVendorNm
                        %button.btn.btn-default.dropdown-toggle.custom_msize (type="button" data-toggle="dropdown" aria-expanded="false")
                          他者の回答から選ぶ
                          %span.caret
                        %ul.dropdown-menu(role="menu")

                %div.row
                  &nbsp;
                %div.row
                  &nbsp;

                %div.row
                  %div.col-md-12
                    %div.input-group
                      %span.input-group-addon.custom_msize
                        システムの名前は？
                      %input#txtSystemNm.form-control.custom_msize (type="text" class="form-control" placeholder="フェニックス会計")
                      
                      %span.input-group-btn.btn-warning#selSystemNm
                        %button.btn.btn-default.dropdown-toggle.custom_msize (type="button" data-toggle="dropdown" aria-expanded="false")
                          他者の回答から選ぶ
                          %span.caret
                        %ul.dropdown-menu(role="menu")

                %div.row
                  &nbsp;
                %div.row
                  &nbsp;

                %div.row
                  %div.col-md-12
                    %div.input-group
                      %span.input-group-addon.custom_msize
                        満足度を５段階評価
                      %span#rdRank1Area.input-group-addon.custom_msize style="background-color:white; border-left:1px solid #ccc; width:310px; height:42px"
                        %span.label.label-success
                          良い
                        %span
                          &nbsp;&nbsp;&nbsp;&nbsp;
                        %input#rdRankA(type="radio" name="rdRank1" value="5")
                        %label(style="font-size:14px;font-weight:normal;" for="rdRankA")
                          &nbsp;５&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        %input#rdRankB(type="radio" name="rdRank1" value="4")
                        %label(style="font-size:14px;font-weight:normal;" for="rdRankB")
                          &nbsp;４&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        %input#rdRankC(type="radio" name="rdRank1" value="3")
                        %label(style="font-size:14px;font-weight:normal;" for="rdRankC")
                          &nbsp;３&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        %input#rdRankD(type="radio" name="rdRank1" value="2")
                        %label(style="font-size:14px;font-weight:normal;" for="rdRankD")
                          &nbsp;２&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        %input#rdRankE(type="radio" name="rdRank1" value="1")
                        %label(style="font-size:14px;font-weight:normal;" for="rdRankE")
                          &nbsp;１&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        %span.label.label-default
                          悪い

                %div.row
                  &nbsp;
                %div.row
                  &nbsp;

                %div.row
                  %div.col-md-12
                    %div.input-group
                      %span.input-group-addon.custom_msize
                        具体的に<br>教えてください
                      %textarea#txtareaComment1.form-control.custom_msize (type="text" class="form-control" placeholder="・使いやすいシステムだと思う&#13;・保守サポートが悪い")
              
                %div.row
                  &nbsp;
                %div.row
                  &nbsp;

                %div.row
                  %div.col-md-12
                    %div.input-group(style="float:left")
                      %span.input-group-addon.custom_msize
                        あなたの勤務先は？
                      %select.form-control.custom_msize#selJititaiKibo
                        %option(value=1)
                          一部事務組合
                        %option(value=2)
                          村役場
                        %option(value=3)
                          町役場
                        <option disabled style="color:#c0c0c0">--------------------------------------</option>
                        %option(value=4 selected)
                          市役所（職員数：500人以下）
                        %option(value=5)
                          市役所（職員数：1000人以下）
                        %option(value=6)
                          市役所（中核市）
                        %option(value=7)
                          市役所（政令指定都市・特別区）
                        <option disabled style="color:#c0c0c0">--------------------------------------</option>
                        %option(value=8)
                          都道府県庁
                        %option(value=9)
                          その他の官公庁
                    %div.input-group(style="float:left")
                      %select.form-control.custom_msize#selTodohuken
                        %option(value="mukaito")
                          無回答

              %div.col-md-2

          %div.modal-footer#modalQuestionFooter
            %div.row
              %div.col-md-8.text-left
                このサービスは、公益に資することを目的としています。著しく名誉を棄損する表現や個人を特定した誹謗中傷は、<br>運営側にて削除させていただく場合があります。
              %div.col-md-4
                %a#btnAnswer.btn.btn-primary.btn-lg(type="button")
                  登録する

    <!-- ロクハブの理念 -->
    %div.modal.fade#modalAboutUs(tabindex="-1")
      %div.modal-dialog.modal-lg
        %div.modal-content
          %div.modal-header(style="background-color:black; color:white;")
            %button.close(type="button" data-dismiss="modal")
              %span#(style="color:white")
                ×
            %h4.modal-title#subGtitle(style="font-weight:bold")
              LocHub（ロクハブ）が掲げる理念
          %div.modal-body(style="background-image:url('../static/image/logo_rinen.png'); background-size:cover; background-repeat:no-repeat")
            %div.row
              %div.col-md-12
                %span(style="font-size:18px;font-weight:bold; color:#000000cc")
                  私たちは、地方公共団体のシステム構築が失敗する姿を幾度となく見てきました。<br>
                  税金を主な運転資金とする地方公共団体において、数千万円～数十億円の歳出案件であるシステム構築の多くが失敗しているとすれば、これは社会問題と言えます。<br>
                  <br>
                  公共事業は参入障壁が高いため、仮に開発能力があったとしても簡単に参入できる市場ではなく、古くから大企業が独占しています。
                  また、その調達プロセスは複雑で一般の人にはわかりづらく、ブラックボックス化しています。<br>
                  <br>
                  多様な住民サービスや複雑な事務作業を必要とする自治体運営には、高度で柔軟なシステムが必要なのは言うまでもありませんが、<br>
                  「仕様書」という名の字面で表現されただけの資料をもってして「良い製品かどうか」を判断して選定するのは至難です。<br>
                  <br>
                  ところで皆さんは、買い物をするときに、『企業の宣伝』 と 『amazonレビュー』のどちらを信用しますか？<br>
                  または、ランチのお店を選ぶときに、『店構えの立派さ』 と 『食べログ評価』 のどちらを信用しますか？<br>
                  <br>
                  ロクハブの理念は、ここにあります。<br>
                  公共事業のシステム調達において、ロクハブの評価点だけがもっとも信頼できる情報であり続けること。<br>
                  <br>
                  良質な製品が浮き上がってきて、粗悪品は沈んでいく。情報の非対称性を解消し、市場では自然と価格調整メカニズムが起きる。<br>
                  私たちは、このサービスが社会問題の１つを解決し、いかなるときも公益に資するものであることを、ここに誓います。


          %div.modal-footer#modalAboutUsFooter
            %div.row
              %div.col-md-2
              %div.col-md-2
              %div.col-md-7
              %div.col-md-1
                %button.btn.btn-default(type="button" data-dismiss="modal")
                  閉じる

    <!-- 七軸評価 -->
    %div.modal.fade#modalNanajikuHyoka(tabindex="-1")
      %div.modal-dialog.modal-md
        %div.modal-content
          %div.modal-header
            %button.close(type="button" data-dismiss="modal")
              %span
                ×
            %h4.modal-title#subFtitle
              %div.row
                %div.col-md-12
                  %span#spanNanajikuHyokaTitle
                    次の７項目について、10段階評価をしてください。
          %div.modal-body
            %div.row
              %div.col-md-6
              %div.col-md-1
                %span.label.label-default(style="font-weight:normal")
                  悪い
              %div.col-md-4
              %div.col-md-1
                %span.label.label-success(style="font-weight:normal")
                  良い
            %div.row
              %div.col-md-4.text-middle(style="top:3px")
                %p(style="font-size:12px")
                  1.知名度の高さ
              %div.col-md-2
                %input.form-control#txtChimeido(type="text", maxlength="2" onchange="fncNumOnlyMax10();" onblur="$(event.srcElement).val(Comma(value));" style="text-align:center")
              %div.col-md-6(style="top:5px")
                %input#sliderChimeido(type="range" step="1" name="speed" min="1" max="10" style="float:left")

            %hr(style="margin:5px 0px 10px 0px")

            %div.row
              %div.col-md-4.text-middle(style="top:3px")
                %p(style="font-size:12px")
                  2.機能の使いやすさ
              %div.col-md-2
                %input.form-control#txtTukaiyasusa(type="text", maxlength="2" onchange="fncNumOnlyMax10();" onblur="$(event.srcElement).val(Comma(value));" style="text-align:center")
              %div.col-md-6(style="top:5px")
                %input#sliderTukaiyasusa(type="range" step="1" name="speed" min="1" max="10" style="float:left")

            %hr(style="margin:5px 0px 10px 0px")

            %div.row
              %div.col-md-4.text-middle(style="top:3px")
                %p(style="font-size:12px")
                  3.価格は適正か
              %div.col-md-2
                %input.form-control#txtKakakutekisei(type="text", maxlength="2" onchange="fncNumOnlyMax10();" onblur="$(event.srcElement).val(Comma(value));" style="text-align:center")
              %div.col-md-6(style="top:5px")
                %input#sliderKakakutekisei(type="range" step="1" name="speed" min="1" max="10" style="float:left")

            %hr(style="margin:5px 0px 10px 0px")

            %div.row
              %div.col-md-4.text-middle(style="top:3px")
                %p(style="font-size:12px")
                  4.サポートは十分か
              %div.col-md-2
                %input.form-control#txtSupportjubun(type="text", maxlength="2" onchange="fncNumOnlyMax10();" onblur="$(event.srcElement).val(Comma(value));" style="text-align:center")
              %div.col-md-6(style="top:5px")
                %input#sliderSupportjubun(type="range" step="1" name="speed" min="1" max="10" style="float:left")

            %hr(style="margin:5px 0px 10px 0px")
            
            %div.row
              %div.col-md-4.text-middle(style="top:3px")
                %p(style="font-size:12px")
                  5.提案は魅力的か
              %div.col-md-2
                %input.form-control#txtTeianmiryoku(type="text", maxlength="2" onchange="fncNumOnlyMax10();" onblur="$(event.srcElement).val(Comma(value));" style="text-align:center")
              %div.col-md-6(style="top:5px")
                %input#sliderTeianmiryoku(type="range" step="1" name="speed" min="1" max="10" style="float:left")

            %hr(style="margin:5px 0px 10px 0px")
            
            %div.row
              %div.col-md-4.text-middle(style="top:3px")
                %p(style="font-size:12px")
                  6.SEは信頼できるか
              %div.col-md-2
                %input.form-control#txtSehenoSinrai(type="text", maxlength="2" onchange="fncNumOnlyMax10();" onblur="$(event.srcElement).val(Comma(value));" style="text-align:center")
              %div.col-md-6(style="top:5px")
                %input#sliderSehenoSinrai(type="range" step="1" name="speed" min="1" max="10" style="float:left")

            %hr(style="margin:5px 0px 10px 0px")
            
            %div.row
              %div.col-md-4.text-middle(style="top:3px")
                %p(style="font-size:12px")
                  7.サブシステムは豊富か
              %div.col-md-2
                %input.form-control#txtSubsystemhohu(type="text", maxlength="2" onchange="fncNumOnlyMax10();" onblur="$(event.srcElement).val(Comma(value));" style="text-align:center")
              %div.col-md-6(style="top:5px")
                %input#sliderSubsystemhohu(type="range" step="1" name="speed" min="1" max="10" style="float:left")

          %div.modal-footer#modalNanajikuHyokaFooter
            %div.row
              %div.col-md-8.text-left
              %div.col-md-4
                %a#btnNanajikuAnswer.btn.btn-primary.btn-sm(type="button")
                  登録する

    <!-- 得意分野分析 -->
    %div.modal.fade#modalTokuiBunya(tabindex="-1")
      %div.modal-dialog.modal-md
        %div.modal-content
          %div.modal-header
            %button.close(type="button" data-dismiss="modal")
              %span
                ×
            %h4.modal-title#subFtitle
              %div.row
                %div.col-md-12
                  %span#spanTokuiBunyaTitle(style="font-size:15px")
                    &nbsp;
          %div.modal-body
            %div.row
              %div.col-md-6
                %table#tableBunyaInput1
              %div.col-md-6
                %table#tableBunyaInput2

          %div.modal-footer#modalTokuiBunyaFooter
            %div.row
              %div.col-md-8.text-left
              %div.col-md-4
                %a#btnTokuiBunyaAnswer.btn.btn-primary.btn-sm(type="button")
                  登録する


    <!-- 削除依頼 -->
    %div.modal.fade#modalSakujoIrai(tabindex="-1")
      %div.modal-dialog.modal-md
        %div.modal-content
          %div.modal-header(style="background-color:black; color:white;")
            %button.close(type="button" data-dismiss="modal")
              %span#(style="color:white")
                ×
            %h4.modal-title#subGtitle(style="font-weight:bold")
              御社にとって不利益となる情報がありましたか？
          %div.modal-body(style="background-image:url('../static/image/logo_sakujoirai.png'); background-repeat:no-repeat")
            %div.row
              %div.col-md-12
                %span(style="font-size:15px;font-weight:bold; color:#000000cc")
                  運営管理が行き届いておらず、大変申し訳ありませんでした。<br>
                  削除したい内容を、次のメールアドレスへ送信くださるようお願いいたします。<br>
                  <br>
                  <br>
                  ロクハブ運営事務局<br>
                  lochub.kanri@gmail.com<br>
                  <br>
                  <br>
                  メールには、削除したい内容がわかるようスクリーンショット等を添えてください。<br>
                  今後も情報品質の向上に努めてまいります。よろしくお願いいたします。<br>
                  <br>

          %div.modal-footer#modalSakujoIraiFooter
            %div.row
              %div.col-md-2
              %div.col-md-2
              %div.col-md-6
              %div.col-md-2
                %button.btn.btn-default(type="button" data-dismiss="modal")
                  閉じる


{% endblock %}

{% block scripts %}
    <script src="../static/main/js/areamap.js"></script>
    <script src="../static/main/js/main.js"></script>
{% endblock  %}

